# Limpeza dos Datasets sobre Vacinação

Nesse notebook realizaremos a limpeza dos datasets originais obtidos no site do DATASUS.

# Bibliotecas

In [1]:
import pandas as pd

# Dataset 1: Tipo de Vacina por Região

In [34]:
tipo_regiao_raw = pd.read_csv('../dados/raw/tipo_vacina_por_regiao_1994_2019.csv',
                                sep = ';',
                                encoding = 'ISO-8859-1',
                                skiprows = 3,
                                skipfooter = 20,
                                thousands = '.',
                                decimal = ',',
                                engine = 'python')

In [35]:
tipo_regiao_raw

,Imuno,1 Região Norte,2 Região Nordeste,3 Região Sudeste,4 Região Sul,5 Região Centro-Oeste,Total
0,072 BCG,8934021,25716922,30399265,10320185,6313847,81684240
1,099 Hepatite B em crianças até 30 dias,1483708,3962859,5634362,1747004,1240004,14067937
2,061 Rotavírus Humano,3057558,9398436,13678966,4524124,2732897,33391981
3,053 Meningococo C,2247567,6782535,10032410,3310188,2018426,24391126
4,073 Hepatite B,6211709,17317816,23733605,8632675,4667998,60563803
5,080 Penta,1722959,5031649,7338378,2507602,1550119,18150707
6,012 Pneumocócica,2146967,6492464,9682534,3286952,1966212,23575129
7,074 Poliomielite,7274884,22142316,28092416,9575853,5616541,72702010
8,100 Poliomielite 4 anos,309,3310,7428,2034,768,13849
9,006 Febre Amarela,6503172,7788790,7694629,2695171,4285684,28967446
10,096 Hepatite A,1209705,3531645,5304090,1861501,1126943,13033884
11,091 Pneumocócica(1º ref),1518080,4572998,6679457,2301651,1389552,16461738
12,092 Meningococo C (1º ref),1586168,4706802,6827088,2368737,1445724,16934519
13,093 Poliomielite(1º ref),1432846,4337592,6369327,2123624,1331847,15595236
14,021 Tríplice Viral D1,5860559,18272998,24617230,7824108,4776620,61351515
15,098 Tríplice Viral D2,1373863,3988165,6328788,2185789,1303656,15180261
16,097 Tetra Viral(SRC+VZ),1211088,2550140,4132691,1867345,1132842,10894106
17,075 DTP,6473825,19952727,25733142,8974200,5145825,66279719
18,102 DTP REF (4 e 6 anos),117995,309935,276475,107191,89040,900636
19,103 Dupla Adulto (dt),1543862,3370545,6781652,2908435,1389185,15993679
20,095 Tríplice Bacteriana(DTP)(1º ref),1413818,4249720,5955483,1952469,1258572,14830062
21,018 Sarampo,2536010,8548654,9840813,3621644,1588205,26135326
22,009 Haemophilus influenzae b,635654,1998329,3198726,1046101,601345,7480155
23,094 Dupla adulto e tríplice acelular gestante,827925,2657578,3087095,954455,723331,8250384
24,003 dTpa gestante,639438,1996924,2768468,904586,613500,6922916

In [42]:
tipo_regiao = tipo_regiao_raw.copy()

In [45]:
# remove os 3 números do nome do imunizante
tipo_regiao['Imuno'] = tipo_regiao['Imuno'].str[4:]

In [46]:
tipo_regiao.columns = ['Imuno', 'Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste', 'Total']

In [76]:
tipo_regiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Imuno         25 non-null     object
 1   Norte         25 non-null     int64
 2   Nordeste      25 non-null     int64
 3   Sudeste       25 non-null     int64
 4   Sul           25 non-null     int64
 5   Centro-Oeste  25 non-null     int64
 6   Total         25 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.5+ KB

In [49]:
# salvar em um novo csv
tipo_regiao.to_csv(r'../dados/clean/tipo_regiao.csv')

# Dataset 2: Tipo de Vacina por UF

In [57]:
tipo_uf_raw = pd.read_csv('../dados/raw/tipo_vacina_por_estado_1994_2019.csv',
                                sep = ';',
                                encoding = 'ISO-8859-1',
                                skiprows = 3,
                                skipfooter = 20,
                                thousands = '.',
                                decimal = ',',
                                engine = 'python')

In [58]:
tipo_uf_raw.head()

,Imuno,RO,AC,AM,RR,PA,AP,TO,MA,PI,...,RJ,SP,PR,SC,RS,MS,MT,GO,DF,Total
0,072 BCG,800058,435530,2103147,278512,4256283,406602,653889,3827065,1466020,...,6212052,16347773,4170763,2390956,3758466,1081826,1429210,2573954,1228857,81684240
1,099 Hepatite B em crianças até 30 dias,147439,70747,407834,60492,590903,79819,126474,554566,224344,...,1038855,3083504,671177,454053,621774,249262,286422,417473,286847,14067937
2,061 Rotavírus Humano,325125,154135,723347,107360,1309459,148831,289301,1219804,545384,...,2457758,7324045,1851409,1110619,1562096,534765,590743,1076269,531120,33391981
3,053 Meningococo C,241025,115200,578236,81724,916541,109399,205442,838250,375652,...,1832017,5193464,1343443,811611,1155134,393102,440212,794804,390308,24391126
4,073 Hepatite B,694872,309240,1421148,200713,2740502,285922,559312,2291895,971273,...,4289103,12502679,3664157,2124056,2844462,846065,1007700,1834108,980125,60563803

In [59]:
tipo_uf = tipo_uf_raw.copy()

In [60]:
# remove os 3 números do nome do imunizante
tipo_uf['Imuno'] = tipo_uf['Imuno'].str[4:]

In [77]:
tipo_uf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Imuno   25 non-null     object
 1   RO      25 non-null     int64
 2   AC      25 non-null     int64
 3   AM      25 non-null     int64
 4   RR      25 non-null     int64
 5   PA      25 non-null     int64
 6   AP      25 non-null     int64
 7   TO      25 non-null     int64
 8   MA      25 non-null     int64
 9   PI      25 non-null     int64
 10  CE      25 non-null     int64
 11  RN      25 non-null     int64
 12  PB      25 non-null     int64
 13  PE      25 non-null     int64
 14  AL      25 non-null     int64
 15  SE      25 non-null     int64
 16  BA      25 non-null     int64
 17  MG      25 non-null     int64
 18  ES      25 non-null     int64
 19  RJ      25 non-null     int64
 20  SP      25 non-null     int64
 21  PR      25 non-null     int64
 22  SC      25 non-null     int64
 23  RS      25 non-null     int64
 24  MS      25 non-null     int64
 25  MT      25 non-null     int64
 26  GO      25 non-null     int64
 27  DF      25 non-null     int64
 28  Total   25 non-null     int64
dtypes: int64(28), object(1)
memory usage: 5.8+ KB

In [62]:
# salvar em um novo csv
tipo_uf.to_csv(r'../dados/clean/tipo_uf.csv')

# Dataset 3: Tipo de Vacina por Ano

In [116]:
tipo_ano_raw = pd.read_csv('../dados/raw/tipo_vacina_por_ano.csv',
                                sep = ';',
                                encoding = 'ISO-8859-1',
                                skiprows = 3,
                                skipfooter = 20,
                                thousands = '.',
                                decimal = ',',
                                engine = 'python')

In [117]:
tipo_ano_raw.head()

,Imuno,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,072 BCG,1442773,3118425,3250708,3709941,3568228,3813081,3772892,3643993,3542563,...,3108763,3044007,3129807,3116296,3049524,2843993,2890591,2789273,1547820,81684240
1,099 Hepatite B em crianças até 30 dias,-,-,-,-,-,-,-,-,-,...,-,-,-,2571735,2638871,2433100,2535899,2475488,1412844,14067937
2,061 Rotavírus Humano,-,-,-,-,-,-,-,-,-,...,2507291,2487415,2724813,2714246,2767095,2648372,2519664,2561930,1533955,33391981
3,053 Meningococo C,-,-,-,-,-,-,-,-,-,...,3043101,2769917,2904968,2798885,2849450,2728699,2590757,2497445,1568800,24391126
4,073 Hepatite B,144614,316010,514762,183338,403949,2714650,3075124,2973497,2938416,...,2814242,2784191,2929906,2800797,2836595,3130964,2568458,2651880,1635183,60563803

In [118]:
tipo_ano = tipo_ano_raw.copy()

In [119]:
tipo_ano['Imuno'] = tipo_ano['Imuno'].str[4:]

In [120]:
tipo_ano = tipo_ano.replace('-', 0)

In [121]:
tipo_ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Imuno   25 non-null     object
 1   1994    25 non-null     object
 2   1995    25 non-null     object
 3   1996    25 non-null     object
 4   1997    25 non-null     object
 5   1998    25 non-null     object
 6   1999    25 non-null     object
 7   2000    25 non-null     object
 8   2001    25 non-null     object
 9   2002    25 non-null     object
 10  2003    25 non-null     object
 11  2004    25 non-null     object
 12  2005    25 non-null     object
 13  2006    25 non-null     object
 14  2007    25 non-null     object
 15  2008    25 non-null     object
 16  2009    25 non-null     object
 17  2010    25 non-null     object
 18  2011    25 non-null     object
 19  2012    25 non-null     object
 20  2013    25 non-null     object
 21  2014    25 non-null     object
 22  2015    25 non-null     object
 23  2016    25 non-null     object
 24  2017    25 non-null     object
 25  2018    25 non-null     object
 26  2019    25 non-null     object
 27  Total   25 non-null     int64
dtypes: int64(1), object(27)
memory usage: 5.6+ KB

In [122]:
colunas = tipo_ano.columns[1:] # tira a coluna 'Imuno' da conversão
tipo_ano[colunas] = tipo_ano[colunas].apply(pd.to_numeric, errors = 'coerce')

In [124]:
tipo_ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Imuno   25 non-null     object
 1   1994    25 non-null     int64
 2   1995    25 non-null     int64
 3   1996    25 non-null     int64
 4   1997    25 non-null     int64
 5   1998    25 non-null     int64
 6   1999    25 non-null     int64
 7   2000    25 non-null     int64
 8   2001    25 non-null     int64
 9   2002    25 non-null     int64
 10  2003    25 non-null     int64
 11  2004    25 non-null     int64
 12  2005    25 non-null     int64
 13  2006    25 non-null     int64
 14  2007    25 non-null     int64
 15  2008    25 non-null     int64
 16  2009    25 non-null     int64
 17  2010    25 non-null     int64
 18  2011    25 non-null     int64
 19  2012    25 non-null     int64
 20  2013    25 non-null     int64
 21  2014    25 non-null     int64
 22  2015    25 non-null     int64
 23  2016    25 non-null     int64
 24  2017    25 non-null     int64
 25  2018    25 non-null     int64
 26  2019    25 non-null     int64
 27  Total   25 non-null     int64
dtypes: int64(27), object(1)
memory usage: 5.6+ KB

In [127]:
tipo_ano.to_csv(r'../dados/clean/tipo_ano.csv')

# Dataset 4: Quantidade de Pessoas Imunizadas por Região do País

In [4]:
imunizados_regiao_raw = pd.read_csv('../dados/raw/imunizacao_regiao_1994_2019.csv',
                                sep = ';',
                                encoding = 'ISO-8859-1',
                                skiprows = 3,
                                skipfooter = 20,
                                thousands = '.',
                                decimal = ',',
                                engine = 'python')

In [5]:
imunizados_regiao_raw

,Ano,1 Região Norte,2 Região Nordeste,3 Região Sudeste,4 Região Sul,5 Região Centro-Oeste,Total
0,1994,779674,3144653,256603,437164,384499,5002593
1,1995,1105842,4249987,3998570,2236326,788810,12379535
2,1996,1573711,5040443,3877218,2393301,1155568,14040241
3,1997,1856485,5850693,7637382,2864833,1446316,19655709
4,1998,2032740,5982505,8099308,2647241,1565734,20327528
5,1999,5196092,18331453,25164631,8149882,4336995,61179053
6,2000,5901829,19918009,27403736,9198595,4848351,67270520
7,2001,6522892,21021378,27910784,9305993,4894025,69655072
8,2002,6466918,20445908,25695715,8798989,4728059,66135589
9,2003,6284436,19684738,24605540,8366148,4584355,63525217
10,2004,8210543,25213904,29795523,10244916,5878046,79342932
11,2005,7761367,23185473,28770865,9497506,5505148,74720359
12,2006,7921316,23088778,28730277,9613113,5570352,74923836
13,2007,7951820,23255094,28727467,9528842,5714618,75177841
14,2008,7702273,22327863,28071074,9297101,5524024,72922335
15,2009,7684934,22684034,28880793,9551065,5610305,74411131
16,2010,7351471,22170262,28802437,9480855,5397196,73202221
17,2011,4682365,13163856,17575425,5710715,3508110,44640471
18,2012,4638321,12588884,16638377,5469356,3385244,42720182
19,2013,4911878,14087874,19417332,6522692,4170804,49110580
20,2014,6079213,18203438,25678107,8421804,5459762,63842324
21,2015,5908687,17877921,25876716,8300237,5061483,63025044
22,2016,5277111,14253705,21095974,7369548,5194786,53191124
23,2017,5285639,13964920,21658719,7497722,4725232,53132232
24,2018,5199754,14043460,21509160,7752142,4606442,53110958
25,2019,3474468,8669018,12849521,5492656,2976294,33461957

Como podemos ver, o dataset já está relativamente bem organizado, faremos apenas alguns ajustes.

In [19]:
imunizados_regiao = imunizados_regiao_raw.copy()

In [20]:
imunizados_regiao = imunizados_regiao.set_index('Ano').rename_axis(None)

In [21]:
imunizados_regiao.columns = ['Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste', 'Total']

In [128]:
imunizados_regiao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1994 to 2019
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Norte         26 non-null     int64
 1   Nordeste      26 non-null     int64
 2   Sudeste       26 non-null     int64
 3   Sul           26 non-null     int64
 4   Centro-Oeste  26 non-null     int64
 5   Total         26 non-null     int64
dtypes: int64(6)
memory usage: 1.4 KB

In [28]:
imunizados_regiao.to_csv(r'../dados/clean/imunizados_regiao.csv')

# Dataset 5: Quantidade de Pessoas Imunizadas por UF

In [129]:
imunizados_uf_raw = pd.read_csv('../dados/raw/imunizacao_estado_1994_2019.csv',
                                sep = ';',
                                encoding = 'ISO-8859-1',
                                skiprows = 3,
                                skipfooter = 20,
                                thousands = '.',
                                decimal = ',',
                                engine = 'python')

In [130]:
imunizados_uf_raw

,Ano,RO,AC,AM,RR,PA,AP,TO,MA,PI,...,RJ,SP,PR,SC,RS,MS,MT,GO,DF,Total
0,1994,150744,22658,127265,38382,440625,-,-,395000,327096,...,-,-,-,437164,-,-,174627,209872,-,5002593
1,1995,169930,57518,236612,56559,552664,32559,-,482285,288726,...,906575,2694310,610367,529270,1096689,-,196972,590541,1297,12379535
2,1996,260583,45907,279674,58502,722825,43911,162309,567243,284130,...,779704,2685627,904583,476830,1011888,160964,201338,574266,219000,14040241
3,1997,221136,78576,427850,51558,890749,54202,132414,700146,308842,...,1409487,4052597,1258159,616029,990645,261788,334670,591826,258032,19655709
4,1998,254228,79331,430178,64159,914640,80449,209755,802799,348572,...,1519764,4325523,1056241,618793,972207,282453,358484,634802,289995,20327528
5,1999,511993,240690,1013496,139177,2585184,205472,500080,2231202,1045207,...,4872715,12673295,3018261,1734001,3397620,827388,907069,1805937,796601,61179053
6,2000,595405,245193,1198384,187080,2886309,232258,557200,2453795,1208893,...,5385808,13842017,3750742,1908182,3539671,896172,1091090,2040674,820415,67270520
7,2001,634672,281863,1327220,162704,3182573,342676,591184,2754985,1260538,...,5263389,13526097,3771473,1929301,3605219,937187,1089117,2069557,798164,69655072
8,2002,603409,309201,1360736,171102,3209151,256112,557207,2714036,1247873,...,5118198,12763696,3547068,1808394,3443527,856199,1056545,2055137,760178,66135589
9,2003,567875,300787,1270370,168107,3183958,263949,529390,2698158,1175552,...,4888554,12355211,3317332,1767949,3280867,814843,1014615,1978045,776852,63525217
10,2004,732052,378766,1581187,220949,4313926,342556,641107,3305897,1494494,...,5935843,14952220,4267323,2101818,3875775,971764,1286775,2634225,985282,79342932
11,2005,698279,353552,1613814,210400,3928530,323676,633116,3300894,1380359,...,5737326,14359891,3820725,2049994,3626787,945137,1266069,2339329,954613,74720359
12,2006,702254,349014,1685221,207007,4003528,326160,648132,3338694,1409417,...,5590987,14512994,3912713,2095555,3604845,974966,1239094,2366568,989724,74923836
13,2007,671022,386861,1704003,218408,3997712,326178,647636,3478280,1409679,...,5644703,14465201,3938642,2082713,3507487,987297,1263603,2428428,1035290,75177841
14,2008,670070,379638,1647149,203350,3856972,319122,625972,3335303,1340657,...,5418391,14273089,3806543,2073138,3417420,974861,1225930,2322350,1000883,72922335
15,2009,681503,390602,1703841,225293,3699454,354299,629942,3299816,1344452,...,5589928,14739743,3934622,2135501,3480942,1023854,1232897,2351035,1002519,74411131
16,2010,647582,375827,1658753,216961,3535221,318085,599042,3420909,1274272,...,5397199,14671666,3911435,2158029,3411391,993508,1151191,2274623,977874,73202221
17,2011,435345,257132,1090240,146403,2159285,200416,393544,1938353,790815,...,3271147,9151228,2415754,1322747,1972214,647692,762483,1515006,582929,44640471
18,2012,427785,240469,1149204,134478,2120596,201291,364498,1834049,767241,...,3034612,8821199,2330836,1277068,1861452,639969,754284,1375687,615304,42720182
19,2013,487788,240916,1173912,137917,2217128,235158,419059,2049197,830563,...,3452853,10297960,2728430,1467668,2326594,792827,882673,1637161,858143,49110580
20,2014,664623,254867,1546920,223255,2577588,291264,520696,2506954,929808,...,4792974,13755784,3393790,2047870,2980144,1186794,1204418,2068419,1000131,63842324
21,2015,692060,294119,1721877,261569,2121121,317476,500465,2470155,843986,...,4947569,13859265,3425656,2066422,2808159,1097563,1218562,2012864,732494,63025044
22,2016,619782,259444,1404249,223781,1986047,309878,473930,1768910,766717,...,4269415,10615615,2978313,1789983,2601252,937525,1117107,1808414,1331740,53191124
23,2017,580329,265563,1412102,223177,2067185,240586,496697,1804725,794144,...,4170602,11187566,3121299,1742437,2633986,888047,1074008,1852394,910783,53132232
24,2018,554429,266548,1435823,237162,1994916,241570,469306,1808791,813143,...,3678944,11407247,3143311,1933449,2675382,900946,1053524,1764350,887622,53110958
25,2019,344707,183891,996366,146819,1299432,165800,337453,1123803,520133,...,1506798,7249108,2226662,1436410,1829584,569408,657632,1139751,609503,33461957

In [131]:
imunizados_uf = imunizados_uf_raw.copy()

In [132]:
imunizados_uf = imunizados_uf.set_index('Ano').rename_axis(None)

In [133]:
imunizados_uf = imunizados_uf.replace('-', 0)

In [136]:
imunizados_uf[imunizados_uf.columns] = imunizados_uf[imunizados_uf.columns].apply(pd.to_numeric, errors = 'coerce')

In [137]:
imunizados_uf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1994 to 2019
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RO      26 non-null     int64
 1   AC      26 non-null     int64
 2   AM      26 non-null     int64
 3   RR      26 non-null     int64
 4   PA      26 non-null     int64
 5   AP      26 non-null     int64
 6   TO      26 non-null     int64
 7   MA      26 non-null     int64
 8   PI      26 non-null     int64
 9   CE      26 non-null     int64
 10  RN      26 non-null     int64
 11  PB      26 non-null     int64
 12  PE      26 non-null     int64
 13  AL      26 non-null     int64
 14  SE      26 non-null     int64
 15  BA      26 non-null     int64
 16  MG      26 non-null     int64
 17  ES      26 non-null     int64
 18  RJ      26 non-null     int64
 19  SP      26 non-null     int64
 20  PR      26 non-null     int64
 21  SC      26 non-null     int64
 22  RS      26 non-null     int64
 23  MS      26 non-null     int64
 24  MT      26 non-null     int64
 25  GO      26 non-null     int64
 26  DF      26 non-null     int64
 27  Total   26 non-null     int64
dtypes: int64(28)
memory usage: 5.9 KB

In [138]:
imunizados_uf.to_csv(r'../dados/clean/imunizados_uf.csv')